@import "./base.css";

body {
    /* display: flex;
  align-items: center;
  justify-content: center; */
    overflow: hidden;
    /* background-color: black; */
    background-color: transparent;
    /* padding: 10px 20px; */
}

@media (max-width: 720px) {
}

@media (max-width: 620px) {
}

@media (max-width: 350px) {
}
